@import "node_modules/normalize.less/normalize.less";
@import "variables.less";
@import "blocks/main-title.less";

body {
  font-family: "Raleway", "Arial", sans-serif;
  min-width: 1024px;
}

.wrapper {
  margin: 0 auto;
  max-width: 1580px;
  padding: 0 10px;
  min-width: 1024px;
}

