.actions {
}

.actions__item {
  width: 455px;
  text-align: center;
}

.actions__img-wrp {
  display: inline-block;
  position: relative;
}

.actions__img {
  border-radius: 50%;
  border: 3px solid @red;
}

.actions__number {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: @red;
  color: #ffffff;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  line-heoght: 40px;
  border-radius: 50%;
  bottom: 60px;
  right: -5px;
}

.actions__number--top {
  top: 60px;
}

.actions__title {
  color: @red;
  font-size: 24px;
}

.actions__exp {
  font-size: 18px;
  color: @text-gray;
}

