.advantages__wrapper {
  margin: 0 auto;
  margin-top: 80px;
  max-width: 1196px;
  margin-bottom: 50px;
}

.advantages__content {
  display: flex;
  justify-content: center;
}

.advantages__img {
  margin: 0 30px;
  position: relative;
  &::before {
    position: absolute;
    content: '';
    width: 210px;
    height: 97px;
    background-image: url('../img/inkle.png');
    top: -35px;
    left: 30px;
  }
}

.advatages__title {
  font-weight: 600;
  font-size: 24px;
}

.advatages__text {
  font-size: 16px;
  margin-bottom: 50px;
}


.advatages__column {
  width: 374px;
}
.advatages__column--left {
  text-align: right;
}

@media (max-width: 1260px) {
  
  .advatages__title {
    font-size: 20px;
  }

  .advatages__text {
    font-size: 14px;
   
  }
  
  .advatages__column {
    width: 270px;
  }
  
  .advantages__img {
    width: 340px;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  
}