.feedbacks {
   margin-bottom: 50px;
}

.feedbacks__title {
  font-size: 35px;
  color: @red;
  text-align: center;
  font-family: @title-font;
  margin-bottom: 60px;

}

.feedbacks__slider {
  width: 962px;
  margin: 0 auto;
  position: relative;
  padding: 70px 0;
  border: 1px solid @red;
 
  &::before {
    position: absolute;
    content: '';
    height: 39px;
    top: -19.5px;
    width: 438px;
    left: 50%;
    margin-left: -219px;
    background-image: url('../img/slider-shape.png');
    z-index: 5;
  }
  &::after {
    position: absolute;
    content: '';
    top: auto;
    bottom: -19.5px;
    height: 39px;
    width: 438px;
    left: 50%;
    margin-left: -219px;
    background-image: url('../img/slider-shape.png');
    z-index: 5;
  }
}

.feedbacks__item {
  position: relative;
  margin: 0 auto;
  width: 430xpx;
  text-align: center;
  
}

.feedbacks__photo {
  border-radius: 50%;
  padding: 10px;
  position: absolute;
  top: -15px;
  left: 0;
  border: 2px solid @text-gray;
}

@media (max-width: 1260px) {
  .feedbacks__slider {
    width: 845px;
  }
  
}