.main-footer {
  background-color: @red-dark;
}

.main-footer__wrapper {
  margin: 0 auto;
  max-width: 1170px;
  padding: 20px 0;
  display: flex;
  color: #ffffff;
  justify-content: space-between;
  align-content: center;
}

.main-footer__copyright {
  font-size: 14px;
}

.main-footer__phone {
  font-size: 16px;
}