.main-nav {
  background-color: @red-dark;
  font-weight: 700;
  position: fixed;
  z-index:20;
  left: 0;
  right:0;
  top:0;
  min-width: 1024px;
}

.main-nav__wrapper {
  margin: 0 auto;
  max-width: 1024px;
}

.main-nav__items {
  list-style: none;
  padding: 15px 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.main-nav__item {
  a {
    color: #ffffff;
    font-size: 18px;
    transition: @transition;
    &:hover {
      opacity: 0.8;
    }
  }
}

@media (max-width: 1260px) {
  .main-nav__wrapper {
    margin: 0 auto;
    max-width: 880px;
  }
  
  .main-nav__item {
    a {
      font-size: 14px;
    }
  }
  
}