.order {
  background-color: #2f3e4b;
  background-image: url('../img/order-bg-big.jpg');
  background-position: top center;
  padding: 5px 0;
  padding-top: 105px;
  position: relative;
  height: 370px;
  margin-bottom: 50px;
   &::after {
    position: absolute;
    content: '';
    width: 148px;
    height: 76px;
    right: 0;
    top: -30px;
    background-image: url('../img/inkle.png')
  }
}

.order__text {
  text-align: center;
  color: @text-light;
  font-size: 18px;
  margin: 15px auto;
  width: 745px;
  line-height: 27px;
  margin-top: -10px;
  margin-bottom: 25px;
}

@media (max-width: 1260px) {
  .order {
    padding-top: 125px;
    height: 350px;
    .main-title {
      font-size: 30px;
    }
  }
}

