.payment {
  background-color: #33262f;
  text-align: center;
}

.payment__wrapper {
  margin: 0 auto;
  max-width: 1024px;
}

.payment__subtitle {
  font-family: 'Lobster', cursive;
  color: #ffffff;
  text-align: center;
  font-size: 30px;
}

.payment__text {
  color: @text-light;
  margin: 15px auto;
  max-width: 630px;
  font-size: 18px;
  line-height: 27px;
}