.popup {
  display: none;
  position: fixed;
  top: 100px;
  width: 1150px;
  
  padding: 50px 0;
  padding-bottom: 25px;
  left: 50%;
  margin-left: -575px;
  z-index: 105;
  background-color: #ffffff;
  &::after {
    content: '';
    bottom: -49px;
    position: absolute;
    left: 0;
    border-left: 575px solid transparent;
    border-right: 575px solid transparent;
    border-top: 50px solid #ffffff;
  }
}
.popup__title {
  font-family: @title-font;
  color: @red;
  font-size:30px;
  text-align:center;
  margin-bottom: 60px;
  .bottom-shape();
}
.popup__form {
  margin: 0 auto;
  width: 809px;
}

.popup__overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.7;
  filter: alpha(opacity=70);
  z-index: 104;
}

@media (max-width: 1260px) {
  .popup {
     width: 1024px;
     margin-left: -512px;
    &::after {
     
      bottom: -49px;
      position: absolute;
      left: 0;
      border-left: 512px solid transparent;
      border-right: 512px solid transparent;
      border-top: 50px solid #ffffff;
    }
  }
  
  
  .popup__form {
    
    width: 700px;
  }
}
