.promo {
  background-color: #61663f;
}

.promo__wrapper {
  margin: 0 auto;
  max-width: 1376px;
}
.promo__img {
  border-radius: 50%;
  border: 7px solid #ffffff;
  margin: 0 25px;
  margin-top: -70px;
  position: relative;
  z-index: 5;
}

.promo__content {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.promo__text {
  width: 490px;
  text-align: right;
  color: #ffffff;
  
  
}

.promo__form {
  width: 490px;
}

.promo__title {
  font-weight: 700;
  font-size: 35px;
}

.promo__exp {
  font-size: 20px;
}

.promo__exp--semibold {
  font-weight: 600;
}