.promo {

  background-image: url('../img/promo-bg-big.jpg');
  background-position: bottom center;
  background-repeat: no-repeat;
  padding-bottom: 40px;
  position: relative;
  margin-bottom: 60px;
  &::after {
    position: absolute;
    content: '';
    width: 148px;
    height: 76px;
    right: 0;
    bottom: 40px;
    
    background-image: url('../img/inkle.png')
  }
}

.promo__title {
  color: @red;
  font-family: @title-font;
  font-size: 35px;
  text-align: center;
}


.promo__wrapper {
  margin: 0 auto;
  max-width: 1376px;
}
.promo__img {
  border-radius: 50%;
  border: 7px solid #ffffff;
  margin: 0 25px;
  margin-top: -75px;
  position: relative;
  z-index: 5;
}

.promo__content {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.promo__text {
  width: 490px;
  text-align: right;
  color: #ffffff;
  
  
}

.promo__form {
  width: 490px;
}

.promo__name {
  font-weight: 700;
  font-size: 35px;
}

.promo__timer {
  margin: 0 auto;
  width: 368px;
  position: relative;
  
}


.promo__arrow {
  position: absolute;
  color: @red;
  font-size: 60px;
  top: -35px;
  &:first-child {
    left: -70px;
    transform: rotate(6deg)
  }
  &:last-child {
    right: -70px;
    left: auto;
    transform: rotate(-6deg)
  }
  
}

.promo__arrow--right {
  
}

.promo__exp {
  font-size: 20px;
  margin: 5px 0;
}

.promo__exp--semibold {
  font-weight: 600;
  margin-top: 10px;
}

.promo__form-title {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 16px;
}

@media (max-width: 1260px) {
  .promo {
    background-image: url('../img/promo-bg-sm.jpg');
    padding-bottom: 80px;
  }
  
  .promo__img {
    border-radius: 50%;
    border: 5px solid #ffffff;
    width: 200px;
    height: 200px;
    margin-top: -55px;
    
  }
  
  
  
  .promo__text {
    width: 360px;
  }
  .promo__form {
    width: 360px;
    margin-top: -30px;
  }
  .promo__form-title {
    font-size: 18px;
    padding-left: 70px;
  }
  
  
  
  .promo__name {
    font-size: 24px;
  }
  
  .promo__exp {
    font-size: 16px;
  }
}