.timer {
  width: 290px;
  margin: 0 auto;
  padding: 6px 40px;
  padding-top: 5px;
  padding-left: 35px;
  border: 2px solid @red;
  color: @red;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: -5px 0 20px rgba(0,0,0,0.4);
  position: relative;
  z-index:10;
}

.timer-body-block {
  display: flex;
  justify-content: space-between;
}

.table-cell {
  text-align: center;
  min-width: 70px;
}

.tab-val {
  font-family: 'Lobster', cursive;
  font-size: 30px;
}

.tab-unit {
  font-size: 18px;
}

@media (max-width: 1260px) {
  .timer {
     width: 270px;
    padding: 6px 30px;
  }
  .tab-val {
    font-size: 24px;
  }
  
  .tab-unit {
    font-size: 16px;
  }
}