.time {
  background-image: url('../img/time_bg.jpg');
  position: relative;
  &::before {
    position: absolute;
    content: '';
    top: -50px;
    left: 0;
    right: 0;
    height: 50px;
    
  }
}

.time__wrapper {
  margin: 0 auto;
  max-width: 1024px;
}

.time__text {
  text-align: center;
  color: @text-light;
  font-size: 18px;
  max-width: 890px;
  margin: 15px auto;
}