.time {
  background-image: url('../img/time-bg-big.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  padding-top: 120px;
  height: 360px;
  position: relative;
   &::after {
    position: absolute;
    content: '';
    width: 210px;
    height: 97px;
    left: -30px;
    bottom: 40px;
    transform: rotate(-30deg);
    background-image: url('../img/inkle.png')
  }
}

.time__wrapper {
  margin: 0 auto;
  max-width: 1024px;
}

.time__text {
  text-align: center;
  color: @text-light;
  font-size: 18px;
  max-width: 890px;
  margin: 15px auto;
}